.friendMessage {

}

.friendImageAndText {
    display: flex;
    gap: 10px;
    height: 70px;
    align-items: flex-end;
}

.friendImageAndText img {
    width: auto;
    height: 70%;
}

.friendText {
    background-color: #e3e3e3;
    border-radius: 10px;
    padding: 10px 15px;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    position: relative;
}

.friendText:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -8px;
    border: 10px solid transparent;
    border-bottom: 10px solid #e3e3e3;
    z-index: -1;
}

.friendName {
    font-weight: 600;
    font-size: 18px;
}

.friendMessageText {
    font-size: 14px;
}

.friendTime {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 5px 0 0 8px;
}
